/*

*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: 微软雅黑,Microsoft YaHei,Verdana, Geneva, sans-serif;
	font-size: 12px;
        font-weight: 700;
        text-shadow: 0px 1px 3px #bbb;
        text-decoration: none;
        text-transform: none;
        -moz-border-radius: 3px; 
        -webkit-border-radius: 3px;
        border-radius: 3px;
	color: #303030;
	background: color: #303030;;
}

/*
lightbox一个简单而又谦恭的用来把图片覆盖在当前页面上的脚本. 它能被快速安装并且运作于所有流行的浏览器.
*/

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px 微软雅黑,Microsoft YaHei,Verdana, Helvetica, sans-serif;

	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}

menu {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
menu:hover {
    -webkit-transform: rotate(360deg) scale(2);
    -moz-transform: rotate(360deg) scale(2);
    -o-transform: rotate(360deg) scale(2);
  }
	
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #FF0066; text-decoration: underline; opacity:0.75;}

img { 
margin: 0px; 
padding: 0px; 
}

img:hover{
 z-index: 1;
 -moz-box-shadow: 3px 5px 15px #333;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

h3 {
        font-famliy:'Lobster';
	margin: 0 0 10px 0;
	padding: 2px 0 5px 0;
	font-size: 20px;
	font-weight: normal;
	color: #333;	
}

h4 {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}


body {
       margin: 0;
       padding: 0;
       line-height: 1.5em;
       font: 12px/18px "微软雅黑","Microsoft YaHei", "宋体", "Segoe UI",Tahoma,Verdana, "Lucida Grande", Geneva, Arial, sans-serif;
       height:100%;
       width:100%;
       margin: 0; padding: 0;
       font: 10px normal Arial, Helvetica, sans-serif;
       background:#ddd url(images/body_bg.gif) repeat-x;
}
.container {
    width: 960pxpx;
    margin: 0 auto;
    position: relavite;
}
#header {
    background: url(images/header_bg.gif) no-repeat center top;
    padding-top: 120px;
}
#header .disclaimer {
    color: #999;
    padding: 100px 0 7px 0;
    text-align: right;
    display: block;
    position: absolute;
    top: -20px; right: 300px;
       z-index:120;
}
#header .disclaimer a { 
    color: #ccc;
}

ul.topnav {  
    list-style: none;  
    padding: 0 10px;  
    margin: 0;  
    float:left;  
    width: 80%px;  
    background: #222;  
    font-size: 1.2em;  
    position:absolute;
    top:120px;right:80%px;
    background: url(images/topnav_bg.gif) repeat-x;  
    z-index:120;
}  
ul.topnav li {  
    float: left;  
    margin: 0;  
    padding: 0 15px 0 0;  
    position: relative; /*--Declare X and Y axis base for sub navigation--*/  
}  
ul.topnav li a{  
    padding: 10px 5px;  
    color: #fff;  
    display: block;  
    text-decoration: none;  
    float: left;
}  
ul.topnav li a:hover{  
    background: url(images/topnav_hover.gif) no-repeat center top;  
}  
ul.topnav li span { /*--Drop down trigger styles--*/  
    width: 17px;  
    height: 35px;  
    float: left;  
    background: url(images/subnav_btn.gif) no-repeat center top;  
}  
ul.topnav li span.subhover {background-position: center bottombottom; cursor: pointer;    z-index:120;} /*--Hover effect for trigger--*/  
ul.topnav li ul.subnav {  
    list-style: none;  
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
    left: 0; top: 35px;  
    background: #333;  
    margin: 0; padding: 0;  
    display: none;  
    float: left;  
    width: 170px;  
    border: 1px solid #111;  
     z-index:120;
}  
ul.topnav li ul.subnav li{  
    margin: 0; padding: 0;  
    border-top: 1px solid #252525; /*--Create bevel effect--*/  
    border-bottom: 1px solid #444; /*--Create bevel effect--*/  
    clear: both;  
    width: 170px;  
}  
html ul.topnav li ul.subnav li a {  
    float: left;  
    width: 145px;  
    background: #333 url(images/dropdown_linkbg.gif) no-repeat 10px center;  
    padding-left: 20px;  
}  
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/  
    background: #222 url(images/dropdown_linkbg.gif) no-repeat 10px center;  
}  

#header img {
    margin: 20px 0 10px;
}

#shadow {
	padding: 20px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#footer {
position: relative;
margin-top: 10px; 
height: -10px;
clear:both;
}    

#content {
        top:1%;left:25%;
	position: relative; 
	width: 750px;
	margin: 50px auto;
	padding: 20px;
	background: #FFF;	
	border: 1px solid #CCC;
        -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1 {
	margin: 0;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #CCC;	
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;	
	padding: 7px 0;
}

.clear {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}

a { 
	outline-color: #888;	
}

div#feature_list {
			width: 750px;
			height: 240px;
			overflow: hidden;
			position: relative;         
		}

		div#feature_list ul {
			position: absolute;
			top: 0;
			list-style: none;	
			padding: 0;
			margin: 0;
		}

		ul#tabs {
			left: 0;
			z-index: 2;
			width: 320px;
		}

		ul#tabs li {
			font-size: 12px;
			font-family: Arial;
		}
		
		ul#tabs li img {
			padding: 5px;
			border: none;
			float: left;
			margin: 10px 10px 0 0;
		}

		ul#tabs li a {
			color: #222;
			text-decoration: none;	
			display: block;
			padding: 10px;
			height: 60px;
			outline: none;
		}

		ul#tabs li a:hover {
			text-decoration: underline;
		}

		ul#tabs li a.current {
			background:  url('mindscape/feature-tab-current.png');
			color: #FFF;
		}

		ul#tabs li a.current:hover {
			text-decoration: none;
			cursor: default;
		}

		ul#output {
			right: 0;
			width: 463px;
			height: 240px;
			position: relative;
		}

		ul#output li {
			position: absolute;
			width: 463px;
			height: 240px;
		}

		ul#output li a {
			position: absolute;
			bottom: 10px;
			right: 10px;
			padding: 8px 12px;
			text-decoration: none;
			font-size: 11px;
			color: #FFF;
			background: #000;
                        -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	       border-radius: 5px;
		}
		
		ul#output li a:hover {
			background: #D33431;
		}