@font-face{   
    font-family: 'LThei';   
    src: url('../media/LThei.ttf') format('truetype');   
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: LThei,Î¢ÈíÑÅºÚ,Microsoft YaHei,Verdana, Geneva, sans-serif;
	font-size: 12px;
        font-weight: 700;
        text-shadow: 0px 1px 3px #bbb;
        text-decoration: none;
        text-transform: none;
        -moz-border-radius: 3px; 
        -webkit-border-radius: 3px;
        border-radius: 3px;
	color: #000000;
	background: #1b9bd7;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#5F5F5F));
}

a:link, a:visited, a:hover, a:active, a:focus {
-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
}

#fake-body {
overflow:auto;
z-index:1;
}


#dock {
background:url(../images/facedock_bg.png) repeat-x;
height:140px;
z-index:100;
width:100%;
}

body {
margin:0; 
padding:0
}

#slidedown_top {
height: 70px;
background-color:#666;
}

#slidedown_bottom {
position:absolute;
width: 100%;
height:100%;
background-color:#666;
}

#slidedown_content {
positionabsolute;
width: 100%;
height: 250px;
top: -205px;
text-align:center;
background:url(../images/backg.gif) repeat-x 0 bottom;
z-index:999;
} 

#slidedown_content .content {
margin:0 auto; 
width:830px;
height:205px;
}

/* Styles for content */

#slidedown_content .content .block {
float:left; 
width:250px;
padding:0 4px 0 4px; 
margin: 0 4px 0 4px;

text-align:left;
font-family:georgia; 
font-size:11px; 
color:#ccc; 
}

#slidedown_content .footer {
height:40px;
}

#slidedown_content .content li {
padding:0; 
margin:4px 0
}

.clear {clear:both}